<ion-view title="Introduce Yourself" hide-back-button="true">
    <ion-content scroll="false">
        <div class="list">
            <div class="item" style="text-align: center">
                <div class="circle">
                    <input ng-click="getImage()" type="image" ng-src="{{trustSrc(profilePhoto)}}" alt="Profile Photo" />
                </div>
            </div>
            <div class="item item-input">
                <label>
                    <input type="text" placeholder="Name">
                </label>
            </div>
            <div class="item item-input item-select">
                <select class="country-picker">
                    <option>Ireland</option>
                    <option selected>United Kingdom</option>
                    <option>United States</option>
                </select>
            </div>
            <div class="item item-input">
                <input type="text" value="+44" disabled class="telephone-area-code">
                <label>
                    <input type="tel" placeholder="Phone Number">
                </label>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar bar-footer">
        <button ng-click="next()" class="button button-positive pull-right ion-chevron-right">
            Next
        </button>
    </ion-footer-bar>
</ion-view>