<ion-view title="">
    <ion-content scroll="false">
        <div class="proposal">
            <span class="offer">
                <span class="static">I want to help with</span> <input type="text" class="dynamic inline-input" />
            </span>
            <span class="conjunction">and</span>
            <span class="request">
                <span class="static">I need help with</span> <input type="text" class="dynamic inline-input" />
            </span>
        </div>
    </ion-content>

    <ion-footer-bar class="bar bar-footer">
        <button ng-click="register()" class="button button-positive footer-wide-button">
            Broadcast
        </button>
    </ion-footer-bar>
</ion-view>