<ion-view title="Meeting Place">
    <form name="further">
        <ion-content scroll="false">
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input ng-model="account.meetingPlace" type="search" placeholder="Meeting Place" required />
                </label>
            </div>
        </ion-content>

        <ion-footer-bar class="bar bar-footer">
            <button ng-click="next()"
                    ng-disabled="further.$invalid"
                    class="button button-positive pull-right ion-chevron-right">
                Next
            </button>
        </ion-footer-bar>
    </form>
</ion-view>