.vertical-align {
  display: table;
  height: 100%;
  width: 100%;
}

.horizontal-align {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.note {
  margin-top: 15px;
  color: #ABABAB;

  padding-left: 40px;
  padding-right: 40px;
  line-height: 1.75;
}