.item {
  .picker {
    position: relative;
    direction: ltr;

    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 7px;

    &:focus {
      min-width: auto;
      width: auto;
    }
  }
}

.ng-invalid, input:invalid, input:-moz-ui-invalid {

}

.ng-valid, input:valid, input:-moz-ui-valid {

}